.box{
    padding: 3.5rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    max-width: 38rem;
}
.number{
    height: 8rem;
    width: 8rem;
    background: #FF8A00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}
.header{
    margin-top: 2rem;
    margin-bottom: 2rem;
}