.review-box{
    padding: 3.5rem 4rem;
    border-radius: 0.8rem;
    background: white;
}
.review-box>p{
    margin-bottom: 2rem;
}
.review-box>div{
    display: flex;
    align-items: center;
}
.name{
    color: black;
    font-weight: 400;
    font-size: 2rem;
}
.brand-logo{
    margin-right: 2rem;
}

@media (max-width: 768px){
    .review-box{
        padding: 2rem;
    }
    .review-box>p{
        font-size: 1.4rem;
    }
    .review-box>div{
        display: block;
    }
}