#hero-section{
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-between;
    align-items: center;
}
#hero-section>div>h1{
    margin-bottom: 2.4rem;
    width: 100%;
}
#hero-text{
    width: 40%;
}
#hero-img{
    width: 50%;
}
#hero-img>img{
    width: 98%;
}

#hero-text>div{
    display: flex;
}
.hero-text-1{
    font-size: 1.5rem;
    color: #888888;
    margin-bottom: 2.4rem;
}

.hero-sign-up-btn, .hero-log-in-btn{
    display: flex;
    align-items: center;
    width: max-content;
    padding: 1.3rem 2.8rem;
    border-radius:1rem;
    border: none;
    background: #0064FF;
    column-gap: 1rem;
}
.hero-log-in-btn>p{
    color:#FF8A00;
}
.hero-log-in-btn{
    margin-left: 1.6rem;
    background: #FFE2BF;
}
.hero-sign-up-btn>p{
    color: white;
}
.hero-sign-up-btn>p, .hero-log-in-btn>p{
    font-size: 1.6rem;
}
.hero-text-2{
    margin-top: 4.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
}
.hero-text-2>span{
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF8A00;
}


@media (max-width: 768px){
    #hero-section{
        display: block;
        padding: 3rem 2rem;
        text-align: center;
    }
    #hero-section>div>h1{
        margin-bottom: 1rem;
        font-size: 3.8rem;
        line-height: 1.2;
    }
    #hero-text{
        width: 100%;
    }
    #hero-img{
        width: 100%;
    }
    #hero-img>img{
        width: 100%;
    }
}