#our-product-section{
    padding: 12rem 10rem;
}
#our-product-section>h2{
    color: #FF8A00;
}
#our-product-section>p{
    width: 32%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#our-product-section>div{
    display: flex;
    justify-content: space-between;
}